<template>
  <div style=" margin-bottom: 35px;">
    <div style="position: relative;" id="jobSearchBar">
      <input type="text" name="jobSearch" placeholder="Search for Jobs" />
      <div
        id="jobSearchIcon"
        style="width:40px; height: 40px; position: absolute; top: 0px; right: 0px; background-color: #008329; text-align: center; line-height: 40px; cursor:pointer; color: white;"
      >
        <v-icon color="white">search</v-icon>
      </div>
    </div>
    <div id="advancedSearch">Advanced Search</div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#jobSearchBar input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 19px;
  padding-right: 19px;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #222;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  font-size: 13px;
  line-height: 18px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 4px;
}

// #jobSearchBar:hover,
// #jobSearchBar:focus {
// }

#jobSearchIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #37a000;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: white;

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

#jobSearchIcon:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

#jobSearchBar:hover input,
#jobSearchBar input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

#advancedSearch {
  color: #37a000;

  text-decoration: none;
  padding-bottom: 10px;

  font-weight: 500;

  padding-bottom: 2px;

  border-bottom: 2px solid #ffffff;

  transition: border-color 0.15s ease-in-out;
  display: inline;
  cursor: pointer;
}

#advancedSearch:hover {
  border-color: #37a000;
}
</style>
