<template>
  <v-container id="menu" class="ma-0 pa-3 white elevation-5" fluid>
    <div style="width: 1024px; margin: 0 auto;" class="d-flex align-center justify-space-between">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 102.4 30"
          class="navbar-brand-svg-standard"
          style="height: 36px;"
        >
          <path
            fill="#494949"
            d="M65.4 6.9c-4.5 0-8.1 3.6-8.1 8.1s3.6 8.1 8.1 8.1 8.1-3.6 8.1-8.1-3.6-8.1-8.1-8.1zm0 12.9c-2.6 0-4.8-2.1-4.8-4.8s2.1-4.8 4.8-4.8c2.6 0 4.8 2.1 4.8 4.7 0 2.7-2.1 4.9-4.8 4.9zM83.4 10.8c-2.3 0-4.2 1.9-4.2 4.2v7.7h-3.5V7.4h3.5v2.4c1-1.5 2.7-2.4 4.5-2.4h1.1v3.4h-1.4zM48.2 7.4L50.8 18l2.9-10.6h3.4l-4.4 15.3h-3.5L46.5 12l-2.7 10.7h-3.5L35.9 7.4h3.4L42.2 18l2.7-10.6zM95 14.4c2.6-1.4 4.1-4.1 4.1-7.1h-3.4c0 2.6-2.1 4.6-4.6 4.6h-.5V0h-3.5v22.7h3.5v-7.2h.4c.4 0 .8.2 1 .5l4.9 6.7h4.2L95 14.4z"
          />
          <path
            fill="#6fda44"
            d="M27.6 6.9c-3.8 0-6.7 2.5-7.9 6.5-1.8-2.7-3.1-5.7-4-8.8h-4.1v10.6c0 2.1-1.7 3.8-3.8 3.8S4 17.3 4 15.2V4.7H0v10.6c0 4.3 3.5 7.9 7.9 7.9s7.9-3.5 7.9-7.9v-1.8c.8 1.7 1.8 3.3 2.9 4.8L16.2 30h4.2l1.8-8.5c1.6 1.1 3.5 1.7 5.5 1.7 4.5 0 8.1-3.6 8.1-8.1-.1-4.5-3.7-8.2-8.2-8.2zm0 12.2c-1.7-.1-3.3-.7-4.6-1.8l.3-1.6v-.1c.3-1.7 1.3-4.6 4.2-4.6 2.2-.1 4 1.7 4.1 3.9.1 2.2-1.7 4-3.9 4.1l-.1.1z"
          />
        </svg>
      </div>

      <div style="position: relative;">
        <input
          style="position: absolute: top:0; left: 0; padding-left: 45px;"
          type="text"
          name="findJobs"
          placeholder="Find Jobs"
          id="findJobs"
        />
        <div style="position: absolute; top: 10px; left: 10px;" class="d-flex">
          <div>
            <v-icon size="20" style="color: #37a000;">search</v-icon>
          </div>
          <div>
            <v-icon size="20" style="color: #37a000; margin-left: -5px;">keyboard_arrow_down</v-icon>
          </div>
        </div>
      </div>

      <div id="menu-items" class="d-flex">
        <div class="find-work-menu">Pangita Work</div>
        <div>My Jobs</div>
        <div>Reports</div>
        <div>Messages</div>
      </div>

      <div class="d-flex justify-space-between align-center" style="width: 120px; color: black;">
        <div>
          <v-icon outlined style="color: black;">search</v-icon>
        </div>

        <div>
          <v-icon outlined style="color: black;">mdi-bell-outline</v-icon>
        </div>
        <div>
          <div
            style="width:40px; height: 40px;background-image: url(https://i.pravatar.cc/40); background-size: contain; border-radius: 50%;"
          ></div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#menu {
  color: black;
}
#findJobs {
  display: block;
  min-height: 40px;
  height: 40px;
  width: 320px;
  padding: 10px 19px;
  padding-right: 19px;
  padding-left: 19px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #222;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  font-size: 13px;
  line-height: 18px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#findJobs:hover,
#findJobs:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-color: #008329;
}

#menu-items {
  text-transform: uppercase;
}

#menu-items div {
  cursor: pointer;
  margin: 2px 15px;
  font-size: 14px;
  color: #222;
}

#menu-items div.find-work-menu {
  color: #37a000;
}

#menu-items div:hover {
  color: #37a000;
}

// div {
//   border: 1px solid red;
// }
</style>
