<template>
  <div>
    <TheJobSearchBar />
    <div style="box-shadow: 0 1px 6px rgba(57,73,76,0.35); background-color: #f9f9f9">
      <div class="flex-column workFeedTitle">
        <h2>My Feed</h2>
      </div>

      <!-- title: 'Paeonia corallina Retz.',
          paymentScheme: false,
          skillLevel: 3,
          budget: 3540,
          posted: '11/8/2018',
          description:
            'Toxic effect of tetrachloroethylene, intentional self-harm, initial encounter',
          skills: 'Brown lemur',
          proposals: 67,
          paymentVerified: false,
      paymentSpent: 885-->

      <div v-for="(item, i) in workItems" :key="i" class="d-flex flex-column workFeedItem">
        <div class="flex-column">
          <div class="flex-column itemTitle">{{item.title}}</div>
          <div class="flex-column itemPrice">
            <span class="paymentType">{{ item.paymentScheme ? 'Hourly' :'Fixed-price'}}</span>
            - {{ skillLevel(item.skillLevel)}} - Est. Budget: ${{ item.budget.toLocaleString()}} - Posted {{item.posted}}
          </div>
          <div class="flex-column itemDescription">{{item.description}}</div>
          <div class="flex-column itemSkills">Prototype</div>
          <div class="flex-column itemProposals">
            Proposals:
            <span>{{item.paymentVerified === true ? 'more than' : 'less than'}} {{item.proposals}}</span>
          </div>
          <div class="d-flex itemPayment">
            <div style="margin-right: 10px; ">
              <v-icon
                style="margin-right: 5px; margin-top: -2px;"
                :color="(item.paymentVerified === true ? 'green' : '')"
              >mdi-check-circle-outline</v-icon>
              Payment {{ item.paymentVerified === true ? 'verified' : ' unverified' }}
            </div>
            <div>$0 spent India</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheJobSearchBar from '~/components/TheJobSearchBar';
export default {
  components: {
    TheJobSearchBar
  },
  data() {
    return {
      workItems: [
        {
          title: 'Paeonia corallina Retz.',
          paymentScheme: false,
          skillLevel: 3,
          budget: 3540,
          posted: '11/8/2018',
          description:
            'Toxic effect of tetrachloroethylene, intentional self-harm, initial encounter',
          skills: 'Brown lemur',
          proposals: 67,
          paymentVerified: false,
          paymentSpent: 885
        },
        {
          title: 'Lamiastrum Heist. ex Fabr.',
          paymentScheme: false,
          skillLevel: 3,
          budget: 5675,
          posted: '6/15/2019',
          description:
            'Nondisplaced intertrochanteric fracture of unspecified femur, subsequent encounter for open fracture type IIIA, IIIB, or IIIC with delayed healing',
          skills: 'Timber wolf',
          proposals: 43,
          paymentVerified: false,
          paymentSpent: 611
        },
        {
          title: 'Chamaesyce turpinii (Boiss.) Millsp.',
          paymentScheme: false,
          skillLevel: 2,
          budget: 8580,
          posted: '9/20/2018',
          description:
            'Nondisplaced fracture (avulsion) of medial epicondyle of right humerus, initial encounter for open fracture',
          skills: 'Ring-tailed lemur',
          proposals: 8,
          paymentVerified: false,
          paymentSpent: 972
        },
        {
          title: 'Eriodictyon traskiae Eastw.',
          paymentScheme: true,
          skillLevel: 2,
          budget: 8576,
          posted: '4/23/2019',
          description:
            'Other fracture of shaft of right ulna, subsequent encounter for open fracture type IIIA, IIIB, or IIIC with routine healing',
          skills: 'Toucan, white-throated',
          proposals: 83,
          paymentVerified: false,
          paymentSpent: 516
        },
        {
          title: 'Cuphea aspera Chapm.',
          paymentScheme: false,
          skillLevel: 2,
          budget: 346,
          posted: '5/15/2019',
          description: 'Other specified injury of right renal artery, sequela',
          skills: 'Otter, cape clawless',
          proposals: 64,
          paymentVerified: false,
          paymentSpent: 90
        },
        {
          title: 'Eupatorium ×truncatum Muhl. ex Willd. (pro sp.)',
          paymentScheme: false,
          skillLevel: 1,
          budget: 5668,
          posted: '9/10/2018',
          description: 'Dermatitis herpetiformis',
          skills: 'Woodrat (unidentified)',
          proposals: 80,
          paymentVerified: false,
          paymentSpent: 250
        },
        {
          title: 'Teucrium botrys L.',
          paymentScheme: true,
          skillLevel: 1,
          budget: 4288,
          posted: '9/25/2018',
          description:
            'Nondisplaced fracture of base of second metacarpal bone. left hand, subsequent encounter for fracture with nonunion',
          skills: "Quail, gambel's",
          proposals: 62,
          paymentVerified: true,
          paymentSpent: 112
        },
        {
          title: 'Aiphanes Willd.',
          paymentScheme: false,
          skillLevel: 3,
          budget: 7827,
          posted: '12/9/2018',
          description:
            'Military operations involving explosion of marine mine, military personnel, subsequent encounter',
          skills: 'Bushpig',
          proposals: 97,
          paymentVerified: true,
          paymentSpent: 637
        },
        {
          title: 'Rayjacksonia phyllocephala (DC.) R.L. Hartm. & M.A. Lane',
          paymentScheme: true,
          skillLevel: 1,
          budget: 5460,
          posted: '3/31/2019',
          description: 'Blister (nonthermal) of unspecified shoulder, initial encounter',
          skills: 'American beaver',
          proposals: 16,
          paymentVerified: false,
          paymentSpent: 774
        },
        {
          title: 'Pertusaria propinqua Müll. Arg.',
          paymentScheme: true,
          skillLevel: 2,
          budget: 4315,
          posted: '9/22/2018',
          description:
            'Poisoning by other agents primarily acting on the respiratory system, intentional self-harm, sequela',
          skills: 'Iguana, common green',
          proposals: 99,
          paymentVerified: false,
          paymentSpent: 313
        },
        {
          title: 'Ranunculus glacialis L. ssp. glacialis',
          paymentScheme: false,
          skillLevel: 1,
          budget: 6564,
          posted: '5/4/2019',
          description: 'Pressure ulcer of unspecified part of back, stage 3',
          skills: 'Desert spiny lizard',
          proposals: 93,
          paymentVerified: true,
          paymentSpent: 581
        },
        {
          title: 'Astragalus whitneyi A. Gray var. whitneyi',
          paymentScheme: true,
          skillLevel: 2,
          budget: 4719,
          posted: '4/13/2019',
          description: 'Occlusion and stenosis of other precerebral arteries',
          skills: 'White-cheeked pintail',
          proposals: 53,
          paymentVerified: true,
          paymentSpent: 269
        },
        {
          title: 'Kelseya uniflora (S. Watson) Rydb.',
          paymentScheme: false,
          skillLevel: 2,
          budget: 3058,
          posted: '6/20/2019',
          description: 'Salter-Harris Type I physeal fracture of left calcaneus, sequela',
          skills: 'Genet, small-spotted',
          proposals: 83,
          paymentVerified: false,
          paymentSpent: 451
        },
        {
          title: 'Stachys chamissonis Benth.',
          paymentScheme: true,
          skillLevel: 1,
          budget: 1073,
          posted: '10/22/2018',
          description:
            'Car driver injured in collision with two- or three-wheeled motor vehicle in nontraffic accident, initial encounter',
          skills: 'Black-crowned crane',
          proposals: 30,
          paymentVerified: false,
          paymentSpent: 51
        },
        {
          title: 'Castilleja puberula Rydb.',
          paymentScheme: true,
          skillLevel: 3,
          budget: 2114,
          posted: '12/10/2018',
          description:
            'Other specified injury of long flexor muscle, fascia and tendon of right thumb at wrist and hand level, sequela',
          skills: 'Silver-backed fox',
          proposals: 28,
          paymentVerified: false,
          paymentSpent: 140
        },
        {
          title: 'Silene verecunda S. Watson ssp. platyota (S. Watson) C.L. Hitchc. & Maguire',
          paymentScheme: false,
          skillLevel: 1,
          budget: 4167,
          posted: '9/16/2018',
          description: 'Terrorism involving firearms, public safety official injured',
          skills: 'Snowy sheathbill',
          proposals: 87,
          paymentVerified: false,
          paymentSpent: 783
        },
        {
          title: 'Oonopsis foliosa (A. Gray) Greene var. foliosa',
          paymentScheme: false,
          skillLevel: 2,
          budget: 3365,
          posted: '4/1/2019',
          description: 'Driver of dune buggy injured in nontraffic accident, initial encounter',
          skills: 'Coatimundi, ring-tailed',
          proposals: 84,
          paymentVerified: true,
          paymentSpent: 600
        },
        {
          title: 'Crataegus ×rubrocarnea Sarg. (pro sp.)',
          paymentScheme: false,
          skillLevel: 3,
          budget: 1630,
          posted: '10/16/2018',
          description: 'Pathological dislocation of unspecified elbow, not elsewhere classified',
          skills: 'African jacana',
          proposals: 79,
          paymentVerified: false,
          paymentSpent: 979
        },
        {
          title: 'Clematis dioica L.',
          paymentScheme: false,
          skillLevel: 3,
          budget: 3610,
          posted: '4/1/2019',
          description:
            'Traumatic rupture of other ligament of right ring finger at metacarpophalangeal and interphalangeal joint, subsequent encounter',
          skills: 'Dog, raccoon',
          proposals: 10,
          paymentVerified: false,
          paymentSpent: 801
        },
        {
          title: 'Clermontia ×leptoclada Rock (pro sp.)',
          paymentScheme: true,
          skillLevel: 1,
          budget: 1168,
          posted: '1/10/2019',
          description:
            'Injury of other nerves at hip and thigh level, unspecified leg, subsequent encounter',
          skills: "Barbet, levaillant's",
          proposals: 27,
          paymentVerified: false,
          paymentSpent: 971
        }
      ]
    };
  },
  methods: {
    skillLevel(num) {
      switch (num) {
        case 1:
          return 'Entry-level ($)';
          break;
        case 2:
          return 'Intermediate ($$)';
          break;
        case 3:
          return 'Expert ($$$)';
          break;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  line-height: 27px;

  font-size: 21px;

  font-weight: 400;
  padding: 0 40px;
}
.workFeedTitle {
  margin: 0 -30px;

  padding: 30px;
}

.workFeedItem {
  padding: 30px 30px 30px 50px;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  transition: background-color ease-in-out 0.15s;
}

.workFeedItem:hover {
  background-color: #f9f9f9;
}

.itemTitle {
  margin-left: -20px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color ease-in-out 0.15s;
}
.itemTitle:hover {
  color: #37a000;
}

.itemPrice {
  margin-bottom: 10px;
  color: #656565 !important;
}

.itemDescription {
  margin-bottom: 10px;
}
.itemSkills {
  margin-bottom: 10px;
}
.itemProposals {
  color: #656565;
  margin-bottom: 5px;
}
.itemProposals span {
  color: black;
  font-weight: 600;
}
.itemPayment {
}
.paymentType {
  font-weight: bold;
}

.flex-column {
}
</style>
