<template>
  <div
    class="d-flex justify-space-between"
    style="width: 1024px; border: 1px solid green; margin: 0 auto;"
  >
    <div style="width: 200px">
      <TheFindWork />
    </div>

    <div style="width: 100%; border: 1px solid red; padding: 10px 30px;">
      <TheWorkFeed />
    </div>

    <div style="width: 200px">
      <TheSideProfile />
    </div>
  </div>
</template>

<script>
import TheFindWork from '~/components/TheFindWork.vue';
import TheSideProfile from '~/components/TheSideProfile.vue';
import TheWorkFeed from '~/components/TheWorkFeed.vue';

import axios from 'axios';

export default {
  data() {
    return {
      title: 'asd'
    };
  },
  components: {
    TheFindWork,
    TheSideProfile,
    TheWorkFeed
  },
  mounted() {
    setTimeout(() => {
      // let payload = 'https://jsonplaceholder.typicode.com/posts?_limit=5';
      // alert('update Post');
      // this.$store.dispatch('getNewPosts', payload);
      this.$store.commit('updateState', { alert: 'new value' });
    }, 2000);
  },
  computed: {
    doneTodosCount() {
      return this.$store.getters.doneTodosCount;
    }
  },
  async asyncData({ params }) {
    let { data } = await axios.get(`https://jsonplaceholder.typicode.com/posts?_limit=3`);
    return {
      posts: data
    };
  },
  head() {
    return {
      title: `nuxt test`,
      meta: [
        { hid: 'description', name: 'description', content: 'Page 1 description' },
        { hid: 'keywords', name: 'keywords', content: 'KEYWORDS NI MAONG BOGO KA' }
      ]
    };
  }
};
</script>
